body {
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    max-width: 1500px;
    margin: 0 auto;
    background: #F8FAFE;
    font-size: 16px;
    margin-top: 90px;
}

.logo__box {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1400px;
    gap: 10px;
    margin: 0 auto;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F8FAFE;;
}

.logo__body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
}

.Logo_img {
    transform: translateY(0.5px)
}

.logo__text-size {
    font-weight: 700;
    font-size: 44px;
    line-height: 0px;
}

.logo__color {
    color: #ff5722;
}

.logo__pics-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;  
}
.Logo__heart-box {
    position: relative;
    height: 50px;
    width: 50px;
}

.logo__heart-pic {
    content: "";
    display: inline-block;
    background: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    background-image: url("Pics/top-heart.svg");
}
.logo__position-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    right: 0;
    background: #F36223;
    border-radius: 50px;
}
.logo__choice-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.Logo__basket-box {
    position: relative;
    height: 50px;
    width: 50px;
}

.logo__basket-pic {
    content: "";
    display: inline-block;
    background: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    background-image: url("Pics/top-basket.svg");
}
.logo__position-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #F36223;
    border-radius: 50px;
    color: #FFFFFF;
}


.link__color {
    color: #008cf0;
    text-decoration: none;
}
.link__color:hover {
    color: #F36223;
}
.link__color:active {
    color: #A93A09;
}


.general-section__text {
    margin: 0%;
}

.general-section__header-h3 {
    margin: 0px 0px 0px 0px;
}

.breadcrumbs__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    margin: 20px 50px 10px 50px;
    font-weight: 400;
}

.product__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 50px 0px 50px;
}

.product_looks {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding: 0px 0px 20px 0px;
    gap: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.product__info-sides {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 10px;
}

.product__picture {
    height: 387px;
}

.general-section__product {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 30px 50px 0px 50px;
}

.general-section__stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.general-section__color {
    display: flex;
    flex-direction: column;
}

.general-section__color-name {
    margin-bottom: 15px;
}

.general-section__select {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.general-section__color-box{
    display: none
}
.general-section__radio {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #888888;
    width: 80px;
    height: 80px;
    border-radius: 4px;
}
.general-section__select input:checked + label {
    border: 1px solid #F36223;
}
.general-section__select input:hover + label {
    background-color: #F2F2F2;
}
.general-section__select input:active + label {
    border: 1px solid #A93A09;
}

.general-section_radio1 {
    background: no-repeat;
    background-image: url("Pics/color-1.webp");
    background-position: center center;
    background-size:30.93px 60px;
}
.general-section_radio2 {
    background: no-repeat;
    background-image: url("Pics/color-2.webp");
    background-position: center center;
    background-size: 44.45px 60px;
}
.general-section_radio3 {
    background: no-repeat;
    background-image: url("Pics/color-3.webp");
    background-position: center center;
    background-size:30.93px 60px;
}
.general-section_radio4 {
    background: no-repeat;
    background-image: url("Pics/color-4.webp");
    background-position: center center;
    background-size:30.93px 60px;
}
.general-section_radio5 {
    background: no-repeat;
    background-image: url("Pics/color-5.webp");
    background-position: center center;
    background-size:30.93px 60px;
}
.general-section_radio6 {
    background: no-repeat;
    background-image: url("Pics/color-6.webp");
    background-position: center center;
    background-size:30.93px 60px;
}

.general-section__stats-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.general-section__product-memory {
    margin: 0%;
    font-weight: 700;
    line-height: 19px;
}

.general-section__memory-bottons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin: 15px 0px 0px 0px;
    height: 39px;
}

.general-section__button-box{
    display: none
}

.general-section__memory-name {
    margin: 0;
}
.general-section__memory-botton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #F8FAFE;
    width: 100px;
    padding: 10px 0px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.general-section__memory-bottons input:hover + label {
    background-color: #F2F2F2;
}
.general-section__memory-bottons input:checked + label {
    border: 2px solid #F36223;
    border-radius: 4px;
}
.general-section__memory-bottons input:active + label {
    border: 2px solid #A93A09;
    border-radius: 4px;
}

.general-section__product-stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.general-section__product-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}

.general-section__stats-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin: 0px 0px 0px 15px;
}

.general-section__Product-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 880px;
}

.aside__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    max-width: 420px;
    order: 1;
}

.aside__buy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;

}

.aside__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 380px;
}
.aside__heart-button {
    display: inline-block;
    border: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #FFFFFF;
    background-image: url("Pics/heart.svg");
}
.aside__heart-button:hover {
    display: inline-block;
    border: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #FFFFFF;
    background-image: url("Pics/heart-hover.svg");
}
.aside__heart-button:active {
    display: inline-block;
    border: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #FFFFFF;
    background-image: url("Pics/heart-active.svg");
}

.aside__price-box {
    display: flex;
    flex-direction: column;
    flex-direction: space;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    order: 0;
}

.aside__old-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.aside__sale {
    text-decoration-line: line-through;
    color: #888888;
}
.aside__sale-percent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
}

.aside__percent-number {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.aside__new-price {
    font-size: 32px;
    line-height: 39px;
}

.aside__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
}

.aside__buy-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    border: 0;
}
.aside__buy-button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 380px;
    height: 64px;
    gap: 15px;
    background: #DA4A0C;
    border-radius: 4px;
    border: 0;
}

.aside__buy-button:active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 380px;
    height: 64px;
    gap: 15px;
    background: #A93A09;
    border-radius: 4px;
    border: 0;
}
.aside_basket::before {
    content: "";
    display: inline-block;
    background: no-repeat;
    flex-shrink: 0;
    background-position: center center;
    width: 24px;
    height: 24px;
    background-image: url("Pics/basket.svg");
}

.aside__button-stash {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.aside__frames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    order: 1;
}

.aside__frames-name {
    color: #888888;
}
 .aside__ad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
 }

.aside__frame {
    border: 1px;
    border-color: #888888;
    border-style: dashed;
    width: 420px;
    height: 300px;
}

.reviev__core {
    max-width: 880px;
    margin: 50px 0px 60px 50px;
}
.reviev__main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
}

.reviev__title-h {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.reviev__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviev__reviev-h3 {
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
}

.review__number {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
}
.reviev__user-reviev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.reviev__user-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.reviev__user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.reviev__name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviev__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}

.reviev__user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.reviev__stars {
    height: 30px;
}

.reviev__paragraph-option {
    margin: 0%;
}

.reviev__band {
    width: 710px;
    border: 1px solid #888888;
    margin-left: 170px;
    border: none;
    border-top: dashed;
}

.reviev__first-user-img {
    flex-shrink: 0;
    background-image: url("Pics/review-1.jpeg");
    background-size: cover;
    width: 140px;
    height: 140px;
    background-position: center;
    border-radius: 50%;
}

.reviev__second-user-img {
    flex-shrink: 0;
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url("Pics/review-2.jpeg");
}

.spreadsheet__title-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.spreadsheet__major-section {
    min-width: 880px;
    border: 1px solid #888888;
    border-collapse: collapse 
}

.spreadsheet__row-head {
    border: 1px solid #888888;
    padding: 15px 10px;
    text-align: center;
}

.spreadsheet__row {
    border-right: 1px solid #888888;
    padding: 10px 10px;
    text-align: center;
}

.spreadsheet__spreadsheet-body-text:hover {
    background: #F2F2F2;
}

.reviev-shape__box {
    margin: 0px 50px;
    padding-left: 170px;
    max-width: 710px;
}

.reviev-shape__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.reviev-shape__top{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-top: 15px;
    gap: 40px;
    align-self: stretch;
    align-items: center;
}

.reviev-shape__name-secondname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #888888;
    max-width: 495px;
    background: #F8FAFE;
}
.reviev-shape__name-secondname:hover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #000000;
    max-width: 495px;
    background: #F8FAFE;
}
.reviev-shape__name-secondname:focus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #000000;
    max-width: 495px;
    background: #F8FAFE;
}

.reviev-shape__reviev-grade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 133px;
    background: #F8FAFE;
}
.reviev-shape__reviev-grade:hover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    border: 1px solid #000000;
    width: 133px;
    background: #F8FAFE;
}
.reviev-shape__reviev-grade:focus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 19px;
    padding: 15px 20px;
    border: 1px solid #000000;
    width: 133px;
    background: #F8FAFE;
}

.reviev-shape__mid{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    align-self: stretch;
}
.reviev-shape__reviev-area {
    max-width: 710px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #888888;
    background: #F8FAFE;
    resize: none;

}
.reviev-shape__reviev-area:hover {
    max-width: 710px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #000000;
    background: #F8FAFE;
    resize: none;
}
.reviev-shape__reviev-area:focus {
    max-width: 710px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    flex-grow: 1;
    border: 1px solid #000000;
    background: #F8FAFE;
    resize: none;
}



.reviev-shape__name-secondname:placeholder-shown, .reviev-shape__reviev-grade:placeholder-shown, .reviev-shape__reviev-area:placeholder-shown {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#888888
}


.reviev-shape__reviev-grade::-webkit-outer-spin-button, .reviev-shape__reviev-grade::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.reviev-shape__reviev-grade {
    -moz-appearance: textfield;
  }


.reviev-shape__buttom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    margin-left: -2px;
    border: 0;
}
.reviev-shape__buttom:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px 20px;
    background: #DA4A0C;
    border-radius: 4px;
    margin-left: -2px;
    border: 0;
}
.reviev-shape__buttom:active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px 20px;
    background: #A93A09;
    border-radius: 4px;
    margin-left: -2px;
    border: 0;
}

.reviev-shape__buttom-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.underworld__block {
    background: #F2F2F2;
    margin-top: 100px;
}

.underworld__text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    margin: 0px 50px;
    font-size: 14px;
    line-height: 17px;
}

.footercolor {
    color: #f52;
}


/*MEDIA*/

@media (min-width: 1024px) and (max-width: 1499px) {
    .logo__box {
        max-width: 1499px;
        margin: 0px 10px 0px 10px;
    }
    .product__info {
        margin: 0px 10px 0px 10px;
    }
    .general-section__product {
        gap: 40px;
        margin: 30px 10px 0px 10px;
    }
    .reviev__core {
        margin: 50px 0px 60px 10px;
    }
    .breadcrumbs__link {
        margin: 20px 10px 10px 10px;
    }
    .spreadsheet__major-section {
        display: none;
    }
    .product__picture {
        height: 272px;
    }
    .aside__price {
        width: 320px;
    }
    .aside__sidebar {
        max-width: 360px;
        margin-right: 10px;
    }
    .aside__buy-button {
        width: 320px;
        height: 64px;
    }
    .aside__buy-button:hover {
        width: 320px;
        height: 64px;
    }
    .aside__frame {
        width: 360px;
        height: 300px;
    }
    .reviev-shape__box {
        margin: 0px 10px;
        padding-left: 0px;
        max-width: 594px;
    }
    .reviev__core {
        max-width: 594px;
        margin: 50px 0px 60px 10px;
    }
    .reviev__band {
        width: 464px;
        margin-left: 130px;
    }
    .underworld__text{
        padding: 30px 0px;
        margin: 0px 10px;
    }
    .reviev__first-user-img {
        width: 100px;
        height: 100px;
    }
    .reviev__second-user-img {
        width: 100px;
        height: 100px;
    }
    .reviev__stars{
        height: 20px;
    }

}